{% extends 'layouts/main.html' %}
{% block title %}Wrent{% endblock %}
{% block content %}

<!-- search bar --> 
<div class="page-header">
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div class = "row">
  
  <div class="col-sm-3 thumbnail" style = "background-color: lightgray;">
    <div class="card center-block" style="width: 18rem;">
      <img class="card-img-top img-rounded" style="width: 100%;" src="\static\img\3x\Asset 3@3x.png" alt="Card image cap">
      <div class="card-Title">
        <h2>Item</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Item description maybe conatining distance to renter</p>
        <a href="#" class="btn btn-primary">Link to Item</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3 thumbnail">
    <div class="card center-block" style="width: 18rem; background-color: lightgray;">
      <img class="card-img-top img-rounded" style="width: 100%;" src="\static\img\3x\Asset 3@3x.png" alt="Card image cap">
      <div class="card-Title">
        <h2>Item</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Item description maybe conatining distance to renter</p>
        <a href="#" class="btn btn-primary">Link to Item</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 thumbnail" style = "background-color: lightgray;">
    <div class="card center-block" style="width: 18rem;">
      <img class="card-img-top img-rounded" style="width: 100%;" src="\static\img\3x\Asset 3@3x.png" alt="Card image cap">
      <div class="card-Title">
        <h2>Item</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Item description maybe conatining distance to renter</p>
        <a href="#" class="btn btn-primary">Link to Item</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 thumbnail" style = "background-color: lightgray;">
    <div class="card center-block" style="width: 18rem;">
      <img class="card-img-top img-rounded" style="width: 100%;" src="\static\img\3x\Asset 3@3x.png" alt="Card image cap">
      <div class="card-Title">
        <h2>Item</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Item description maybe conatining distance to renter</p>
        <a href="#" class="btn btn-primary">Link to Item</a>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script  type = "text/babel" src="item-card.js"></script>

<script>ReactDOM.render(<item-card/>,document.querySelector('.itemcard'))</script>

{% endblock %}
